<p class="text-center">Λαγκαδά 2, Θεσσαλονίκη.  2ος όροφος</p>
<p class="text-center"><a href="mailto:info@buildart.com.gr">info@buildart.com.gr</a></p>
<!-- 
<h2>Υπηρεσίες</h2>
<ul>
  <li>Ανακαίνιση</li>
  <li>Διακόσμηση </li>
  <li>Κατασκευή</li>
</ul>

-->
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">

  </li>
<!--   <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
  -->
</ul>
